/*CSS document*/

/*CSS Reset*/
/* This sets all of the html tags to 0 margin and padding. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: 1em;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*You can take off all indents and padding on lists and list items, but I find this to be more trouble than it's worth. I'd rather have lists come with proper indents and bullets. I can always take those off when I need to use a list for navigation 
ul, ol, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: 1em;
	vertical-align: baseline;	
}
ol, ul {
	list-style: none;
}
*/

/* sets padding, margin and list-style to 0 and none for all lists inside nav elements */
 nav ul, nav ul li{
	list-style:none;
	padding:0;
	margin:0;	 
 }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* sets the box-sizing model to border-box, which allows you to add padding to the block-level element (div, section, article, whatever) without having to adjust the width of columns to account for them. */
*, *:before, *:after {
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box;
 }
img {
	max-width: 100%;/* all images won't get bigger than it's original size but will shrink as needed with the window*/
}
/*End CSS Reset*/

/*The rest styles the Header/NavBar and Footer as well as the background*/
body {
	background-image: url(images/Neverbound_Temp_Exam.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
}
#everything {
	width: 80%;
	min-width: 500px;
	margin-left: 10%;
	margin-right; 10%;
}
.header {
	background-color: #464646;
	height: 80px;
	width: 100%;
}
.logo {
	padding: 10px;
	float: left;
	width: 183px;
	display: block;
}
.logo img {
	width: 163px;
	height: 60px;
}
.navBar {
	width: 70%;
}
.navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navBar li {
	display: block;
	float: left;
	width: 10%;
	padding-top: 30px;
	position: relative;
}
.navBar li a {
	display: block;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	text-align: center;
	padding: 5px 3px 5px 3px;
	background-color: #464646;
	color: #ffffff;
	text-decoration: none;
}
.navBar li:first-child a {
	border-left: none;
}
.navBar li:last-child a {
	border-right: none;
	padding-left: 3px;
}
.navBar a:hover {
	color: yellow;
}
.navBar a:active {
	color: green;
}
/*Submenu dropdown*/
.navBar li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}
.navBar li li a {
	border-top: 1px solid #ffffff;
	border-left: none;
	border-right: none;
	background-color: #464646;
	color: #ffffff;	
}
.navBar li li {
	float: none;
	padding-top: 0px;
	width: 100px;
}
.navBar li li:first-child {
	padding-top: 24px;
}
.navBar li:hover > ul {
	display: block;
}
#social {
	float: right;
	margin-top:24px;
	margin-right: 10px;
	margin-left: 10px;
}
#social img {
	padding: 3px;
}
.footer {
	background-color: #464646;
	width: 100%;
	height: 80px;
	clear: both;
}